<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>tong hai so</title>
</head>
<body>
<h1>Tổng hai số</h1>
<!--Sử dụng phương thức post-->
<form action = "/" method = "POST">
    <!--sử dụng nunjucks truyền dữ liêu a vào input-->
    a: <input type = "text" name = "a" value="{{a}}"><br>
    <!--sử dụng nunjucks truyền dữ liêu a vào input-->
    b: <input type = "text" name = "b" value="{{b}}"><br>
    <!--sử dụng nunjucks truyền dữ liêu vào input bên dưới-->
    <input type="submit" name="submit" value="Sum">
</form>
<!--sử dụng nunjucks truyền dữ liêu c vào input-->
<input type="text" value="{{c}}">
</body>
</html>